body {
	height:100%;
	margin:4em 1em 1em 1em;
	background-color:rgb(237,241,255);
	font-family:Arial, sans-serif;
	font-size:10pt;
}
.head {
	text-align:center;
}
#fade {
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(209,213,238)), color-stop(100%,rgb(237,241,255)));
	background: -moz-linear-gradient(top, rgb(209,213,238) 0%, rgb(237,241,255) 100%);
	background: -o-linear-gradient(rgb(209,213,238), rgb(237,241,255));
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:-1;
	height: 220px;
}
h1, h5 {
	color:rgb(175,10,15);
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	font-size:20pt;	
	margin-bottom:0.1em;
	padding-bottom:0;
}
.lone_header {
	margin-bottom:0.5em;
}
h5 {
	font-size:8pt;
	font-weight:normal;
	margin-top:0;
	padding-top:0;
	margin-bottom:1em;
}
.footer {
	padding:2em;
	clear:both;
	text-align:center;
}
.footer-span {
	color:rgb(0,6,53);
	font-family:Helvetica, sans-serif;
	font-size:8pt;
}
.footer-span a {
	text-decoration:none;
}
#topbar {
	position:absolute;
	z-index:31;
	top:0;
	left:0;
	width:100%;
	color:lightGrey;
	font-size:12px;
	background-color:rgba(0,19,47,0.40);
	font-family:sans-serif;
	box-shadow:inset 0px -2px 3px rgba(0,0,0,0.25), 0px 1px 0px rgba(255,255,255,0.55);
	clear:both;
}
.topbar_inner {
	z-index:32;
	display:inline;
	padding:0.3em;
}
#topbar_right_content {
	float:right;
}
#topbar_left_content {
	float:left;
}
#topbar_left_content a {
	font-size:12px;
}
.boardlink {
	color:white;
	text-decoration:none;
}
.separator {
	border-bottom:1px solid rgb(183,197,217);
	margin:0;
	clear:left;
}
#site-banner {
	box-shadow:0px 1px 1px rgba(255,255,255,0.40);
	border-radius:6px;
}
.centre {
	text-align:center;
	padding-bottom:1.2em;
}
.switchbox {
	background-color:rgba(0,19,47,0.40);
	min-width:150px;
	display:inline-block;
	padding:0.5em;
	box-shadow:inset 0px 2px 3px rgba(0,0,0,0.25), 0px 1px 0px rgba(255,255,255,0.55);
	border-radius:6px;
	color:white;
	position:absolute;
	top:2.5em;
	right:1em;
}
.switchbox a {
	color:white;
	text-decoration:none;
	display:block;
}
.switchbox .selected {
	font-weight:bold;
	display:block;
}
.switchbox .header {
	margin-bottom:0.3em;
}